@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}
/* .input-field {
  @apply px-4 py-2 rounded-xl
  border border-gray-200 dark:border-gray-700
  bg-white dark:bg-gray-800
  text-gray-800 dark:text-white
  focus:ring-2 focus:ring-indigo-500
  outline-none transition;
} */


/* .input-field {
  @apply w-full h-12 px-4 rounded-xl
  bg-gray-50 dark:bg-gray-800
  border border-gray-200 dark:border-gray-700
  text-gray-900 dark:text-white
  focus:ring-2 focus:ring-indigo-500
  outline-none transition;
} */

/* .input-field {
  @apply w-full h-12 px-4 rounded-xl
  bg-white dark:bg-gray-800
  border border-gray-300 dark:border-gray-700
  text-gray-900 dark:bg-gray-950
  placeholder-gray-400 dark:placeholder-gray-500
  focus:ring-2 focus:ring-indigo-500
  outline-none transition;
} */

.input-field {
  @apply w-full h-12 px-4 rounded-xl
  bg-white dark:bg-gray-800
  border border-gray-300 dark:border-gray-700
  text-gray-900 dark:text-white
  placeholder-gray-400 dark:placeholder-gray-500
  focus:ring-2 focus:ring-indigo-500
  outline-none transition;
}